<div [formGroup]="form()">
  <label [attr.for]="field().key" class="block mb-2 font-bold">
    {{ field().label }}
  </label>

  <div>
    @switch (field().controlType) { @case ('textbox') {
    <input
      pInputText
      [formControlName]="field().key"
      [id]="field().key"
      [type]="field().type || 'text'"
      class="w-full"
    />
    } @case ('checkbox') {
    <p-checkbox
      [binary]="true"
      [formControlName]="field().key"
      [inputId]="field().key"
    ></p-checkbox>
    <label [attr.for]="field().key" class="ml-2">{{ field().label }}</label>
    } }
  </div>

  @if (!isValid) {
  <div class="p-error text-sm mt-1">{{ field().label }} es requerido</div>
  }
</div>
