.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #9ebecc, #30809d);
}

.login-card {
  width: 400px;
}
::ng-deep .p-card {
  background: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  border-radius: 1.5rem;
  width: 380px;
  backdrop-filter: blur(10px);
}

.title {
  text-align: center;
  color: black;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions ::ng-deep .p-button {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30809d;
}
