.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 12px;
}

::ng-deep .p-button {
  width: 200px;
  cursor: pointer;
  border-radius: 0.75rem;
  transition: background 0.3s ease;
}
