<p-card>
  <ng-template pTemplate="header">
    <strong>ID: {{ task.id }}</strong>
  </ng-template>

  <p>{{ task.title }}</p>

  <p-tag
    [value]="task.completed ? 'Completada' : 'Pendiente'"
    [severity]="task.completed ? 'success' : 'warning'"
  >
  </p-tag>

  <ng-template pTemplate="footer">
    <p-button
      label="Editar"
      icon="pi pi-pencil"
      (click)="editTask()"
    ></p-button>
    <p-button
      label="Eliminar"
      icon="pi pi-trash"
      severity="danger"
      (click)="deleteTask()"
    ></p-button>
  </ng-template>
</p-card>
