<p-card
  [style]="{ padding: '1rem', overflow: 'hidden' }"
  [header]="project.title"
  [subheader]="'ID: ' + project.id"
  class=""
>
  <p>{{ project.description }}</p>

  <p-button
    label="Ver tareas"
    icon="pi pi-list"
    (click)="goToTasks(project.id)"
  ></p-button>
  <p-button
    label="Editar"
    class="ml-2"
    icon="pi pi-pencil"
    (click)="editProject(project.id)"
  ></p-button>
  <p-button
    label="Eliminar"
    class="ml-2"
    icon="pi pi-trash"
    (click)="deleteProject(project.id)"
  ></p-button>
</p-card>
